################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sudoku/FileContentIndex/5fc6352e-bfef-470b-af2d-2066067765a3.vsidx
/.vs/Sudoku/FileContentIndex/c4359eef-27eb-42ed-ba6a-41cdaa5cbae6.vsidx
/.vs/Sudoku/FileContentIndex/94c71569-c167-4830-917c-fc4b174443af.vsidx
/Sudoku/.vs/Sudoku/FileContentIndex
