################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sudoku/FileContentIndex/5fc6352e-bfef-470b-af2d-2066067765a3.vsidx
/.vs/Sudoku/FileContentIndex/c4359eef-27eb-42ed-ba6a-41cdaa5cbae6.vsidx
/.vs/Sudoku/FileContentIndex/dd491118-a41d-4299-b693-df2fd54ae8e4.vsidx
/.vs/Sudoku/FileContentIndex/14834fc6-bcf7-492d-9306-3c9ccff8649f.vsidx
/.vs/Sudoku/FileContentIndex
