################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Loại bỏ các file build và file cấu hình tự động
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.tmp
*.log
*.bak

# AssemblyInfo
Properties/AssemblyInfo.cs

# Các thư mục khác
.vs/
packages/
obj/